.App {
  text-align: center;
}
.App h1 {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.question{
  display: inline-block;
}

.btn{
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    background: #fff;
    border: 2px solid green;
    color: green;
    letter-spacing: 1px;
    text-shadow:0;
    font-size:12px;
    font-weight:bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
.btn:hover {
      color:white;
      background: green;
    }
.btn:active {
      letter-spacing: 2px;
      letter-spacing: 2px ;
    }
.btn:after {
      content:"SUBMIT";
    }
.isInput{
  color: red;
}

input{
  display: block;
  margin: 10px auto;
  padding: 15px;
  border: none;
  font-size: 22px;
  background-color: rgb(125, 161, 238);
  opacity: 0.5;
}
input:focus{
  outline: 0;
  opacity: 1;
}
.crt{
  margin: 15px;
  padding: 15px;
  font-size: large;
  text-transform: uppercase;
  border-radius: 10px;
  height: fit-content;
  background-color: green;
  color: #fff;
  width: 20vw;
  margin: 13px auto;
}
.incrt{
  margin: 15px;
  padding: 15px;
  font-size: large;
  text-transform: uppercase;
  border-radius: 10px;
  height: fit-content;
  background-color: red;
  color: #fff;
  width: 20vw;
  margin: 13px auto;
}
.icon{
  height: 10vh;
  margin-right: 12px;
}
